

* {
	padding:0px;
	margin:0px;
}

@media (max-width: 1160px)
body {
    overflow-x: auto;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    position: relative;
    overflow-x: hidden;
}

.main {
	    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	background:grey;
	
}
.header {
	position: relative;
    z-index: 10;
    min-height: 92px;
    background: #DFDFDF;
	
	
	
}

@media (max-width: 1160px)
.f-header {
    width: 1024px;
    max-width: 1024px;
	
}
@media (min-width: 60px)
.f-header {
    width: 56px;
    max-width: 56px;
	
}

.f-header {
	width: 1160;
    max-width: 1160px;	
	min-height:56px;
	font-family:"Comic Sans MS", cursive;
	margin: 0 auto;
	position:relative;
	display:block;
	background:none;
	
	
	
	
}

.f-logo {
	width: 187px;
    margin-top: 8px;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 10;
	left:0;
	background-color:none;
}

.f-search {
	background-color: none;
	float: left;
	height: 56px;
	width:56%;		
}

@media (max-width: 1160px).f-search>form {
    max-width: 470px;
}

.f-search>form {
    display: block;
    width: 590px;
    position: relative;
    z-index: 11;
	margin: 7px 0px 20px 27px;	
}

.f-search>form>input {
    width: 100%;
    height: 38px;
	padding: 0 0 0 9px;
	border-radius: 10px;
	border:none;
	
}

.f-search>form>button {
    width: 58px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
	margin: 0px -8px 0 0 ;
	border:none;
	border-radius:10px;
	background:none;
}

.f-menu {
	position: absolute;
    top: 0;
    right: 0;
    text-align: right;
	background:none;
	/*display:block;*/
	padding-left:20px;
}



.f-menu > ul{
	list-style-type: none;	
}

.f-menu > li:first-child {
	margin-left:10px;
}

.f-menu > ul > li {
	padding: 12px 0px 0px 0px;
	
	margin-left: 10px;
	text-align: center;
	display:inline-block;
	position: relative;	
	background: none;
	
	
}
 

.f-menu > li > a {
	text-align: center;
	text-decoration:none;
}

span {
	display:block;
	
}
/*
@media (max-width: 1200px)
.menu {
    width: 1024px;
    max-width: 1024px;
}

.menu {
	width: 1200px;
    max-width: 1200px;		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;
	min-height:36px;
	 background: #C0C;
	position:relative;
}
*/

.menu {
	position:relative;
	border:none; 
	width:auto;
    min-height: 40px;
    background: pink;
	display:block;
	
}
}
@media (max-width: 860px)
.wrap-menu {
    width: 1024px;
    max-width: 1024px;
}

.wrap-menu {
	width: 860px;
    max-width: 860px;		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;
	padding-top: 3px;
	padding-left: 6px;
	min-height:auto;
	 background:#black;
	
}

/*


.wrap-menu {
		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;

	
}
*/
.wrap-menu > ul {
	list-style-type:none;
}
.wrap-menu > ul > li:first-child {
	margin-left:20px;
}

.wrap-menu > ul > li{
	padding: 0px 15px 0 15px;	
	margin-left: 10px;
	text-align: center;
	display:inline-block;
	position: relative;
}

.content {
	width: 1160px;
	margin:  0 auto;
}

.c-wrap {
background: none;
}

.ads {
	width: auto;
	padding-bottom: 88px;
	background: #fff;
	margin-top: 10px;
}

.c-banner {
	margin: 20px 0;
  width: 1160px;
  height: 350px;
  background: none;
 
}

.sliderImg {
	height: auto;
	width: 700px;
	background: pink;
	color: #eee;
	border: 1px;
	clear: right;
	display: inline-block;
	

}
.sliderImg img{
	height: 310px;
	width: 700px;
}

.right-banner{
	
	height: auto;
	width: 450px;
	margin-left: 5px;
	background: none;
	
	float: right;


}

.ads1 {
	height: 88px;
	width: 450px;
	background: white;
	}

 .ads2 {
 	height: 88px;
	width: 450px;
	background: white;
	margin: 13px 0;
}
.news {

	height: 136px;
	width: 450px;
	background: white;
}
.n-title {
	background: none;
	padding:6px;

}

.ntitle h3 {
	font-size: 16px;
	clear: right;
}
.n-title > h3 > a {
	float: right;
	font-size: 14px;
	text-decoration: none;;
	color: black;
	font-weight: normal;
	display: block;
}

.n-title > h3> a:hover {
	text-decoration: underline;
	color: red;
}

 .line-news {
 	width: auto;
 	height: 100px;
 	background: none;
 }

 .line-news > ul {
 	list-style-type: none; 
 }

 .line-news >ul > li{
	 	padding: 7px 5px 0px 8px;

 }
 .line-news > ul > li > a > img{
 
 	float: left;
 	width: 70px;
 	height: 40px;
 	display: block;


 	 	
 	
 }

 .line-news > ul > li > a > span{
 	
	width: auto;
 	height: 40px;
 	padding-left: 79px;


 	text-align: left;
 	color:black;
 	
 	


}
.produce {
	width: auto;
	height: auto;
	margin-top: -30px;
	background: none;

}

.produce > h2 {
	display: inline-block;
		text-transform: uppercase;
		margin-top: 20px;
		

}

.produce >a {
	
	
	float: right;
	text-decoration: none;
	padding: 5px 5px 0  0;
	font-weight: normal;
	color: black;
	font-size: 14px;
	display: inline-block;
	margin-top: 20px;
	

	
	

}

.produce >a:hover {
	
	text-decoration: underline;
	color: red;
}
.produce > hr {
	border: none;
	display: block;
	margin-bottom: 20px;
}

.phone1-left {
	background: white;
	width: 381px;
	height: 300px;
	float: left;
	margin: 0  8px 0 0 ;

}
.phone2-home {
	background: white;
	width: 381px;
	height: 300px;
	float: left;
	margin: 0  8px 0 0 ;
	
}

.phone3-right {
	background: white;
	width: 381px;
	height: 300px;
	float: left;
	
	
}

.phone4-left, .phone5-home, .phone6-right{
	background: white;
	width: 381px;
	height: 300px;

	
}

.phone4-left {
	
	float: left;
	margin: 0  8px 0 0 ;
	margin-top: 15px;

}
.phone5-home {
	
	float: left;
	margin: 0  8px 0 0 ;
	margin-top: 15px;
	
}

.phone6-right {
	
	float: left;
	margin-top: 15px;
	
	
}
.clean {
	clear: both;
}




 
 	