.product-view {

    background-opacity: 20%;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.link {
    width: 1200px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -10px;

}

.f-link {
    margin: 10px 0 7px 0
}

.f-link li {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;

}

.f-link li a {
    font-size: 12px;

}

li {
    float: left;
}

.content {
    width: 1200px;
    height: auto;
    background-color: white;

}

.tieu-de-top {
    width: 1200px;
    height: 81.38px;
    padding-left: 15px;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 13px;
    border-bottom-color: #9ea09d;
    border-style: solid;
    border-bottom-width: 1px;
    background-color: white;

}

.product-name {
    font-size: 24px;
    color: #3d3d3d;
    width: 585px;
    height: 34px;

}

.id-product {
    font-size: 12px;
    color: #9ea09d;
}

.checked {
    color: orange;
}

.rating {
    float: left;
    display: inline;
}

.khung-danh-gia {
    padding: 13px 15px;
    border-bottom: 1px solid #e3e3e3;
}

.khung-danh-gia h2 {
    font-size: 18px;
    color: #3d3d3d
}

.khung-danh-gia {
    margin-bottom: 0 !important
}

.noi-dung-danh-gia1, .fs-dtt-col2 {
    float: left;
    width: 585px;
    height: 20.38px
}

.info-san-pham {
    width: 1200px;
    height: 478px;
    margin-bottom: 20px;
}

.khung-chua-cot-img-san-pham {
    width: 497px;
    height: 800px;
    display: table-cell;
    vertical-align: top;
    margin: 0 auto;

}

.khung-chua-img-san-pham {
    width: 480px;
    height: 516px;
    position: relative;
    padding: 15px 0 0 15px;

}

.slider-holder {
    width: 465px;
    height: 501px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

#slider-image-1:target ~ .image-holder {
    left: -0px;
}

#slider-image-2:target ~ .image-holder {
    left: -465px;
}

#slider-image-3:target ~ .image-holder {
    left: -930px;
}

#slider-image-4:target ~ .image-holder {
    left: -1400px;
}

#slider-image-5:target ~ .image-holder {
    left: -1865px;
}

.image-holder {
    width: 2400px;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 465px;
    height: 501px;
}

.button-holder {
    position: relative;
    top: -20px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}

.dong-re-chuot {
    padding: 10px 0;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin-bottom: 0px;
    width: 497px;
    height: 37px;
}

.icon-search {
    background-image: url("../img/search.png");
    background-sizewidth: 12px 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.nut-chuc-nang-anh-san-pham {
    text-align: center;
    margin-bottom: 10px;
    width: 497px;
    height: 103px;
    padding-left: 160px;
}

.icon-anh-360 {
    padding-top: 60px;
    background-image: url("../img/anh360.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 3px;
    z-index: 100;

}

.icon-video {
    padding-top: 60px;
    background-image: url("../img/youtube.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3px;
    z-index: 100;
}

.icon-xem-them {
    padding-top: 60px;
    background-image: url("../img/xemthem.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3px;
    z-index: 100;
}

.anh-360-do {
    width: 60px;
    height: 15px;
    font-size: 11px;

}

.btn-video {
    width: 60px;
    height: 15px;
    font-size: 11px;

}

.xemthem {
    width: 60px;
    height: 15px;
    font-size: 11px;

}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #4c4c4c;
    margin-bottom: 10px;
    width: 422px;
    height: 37px;
}

.so-luong-khach-hang-dat-san-pham {
    color: #257C00;
    font-size: 13px;
    border: 1px solid #257C00;
    background-color: #F7FFEF;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    width: 422px;
    height: 36px;
}

.giao-hang-1-gio {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #eb0000;
    position: relative;
    padding: 5px 5px 5px 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #fff9fa;
    border: solid 1px #ffdddd;
}

.km {
    padding: 4px 10px;
    font-weight: bold;
    color: #fff;
    background: #34a105;
    border-bottom: 1px dashed #d7d7d7;
    width: 420px;
    border-radius: 3px;
}

.chi-tiet-km {
    width: 420px;
    height: 48px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom-width: 0px;
    padding-right: 0px;
    color: black;
    border-bottom: 1px dashed #d7d7d7;
    border-radius: 3px;
}

ul {
    list-style: none;
}

.khung-nut-dat-hang li a {
    display: block;
    padding-top: 6px;
    text-align: center;
    height: 60px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .23);
}

.khung-cam-ket {
    width: 497px;
    height: 716px;
    display: table-cell;
    vertical-align: top;
    margin: 0 auto;

}

.khung-thong-tin-san-pham {
    width: 422px;
    height: 686px;
    display: table-cell;
    vertical-align: top;
    margin: 0 auto;

    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-color: black;
    border-style: solid;
    border-right-width: 1px;

}

.fs-dtinfo {
    width: 453px;
    height: 716px;
}

.btn-order {
    width: 436px;
    height: 144px;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 15px;
}

.tra-gop {
    background-color: red;
    color: white;
    width: 92.27px;
    height: 26px;
    font-size: 12px;
    border: solid 1px #ff677a;
    margin-left: 0;
    padding-top: 10px;
    text-align: center;
}

.nut-mua-ngay-1-gio {

    background-color: red;
    width: 420px;
    height: 58px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.nut-mua-ngay-1-gio a p {
    color: white;
    font-size: 20px;
}

.nut-mua-ngay-1-gio a span {
    color: white;
    font-size: 12px;
}

.nut-tra-gop {
    background: #337ab7;
    border: solid 1px #337ab7;
    width: 218px;
    height: 60px;
    margin-bottom: 12px;
    float: left;
    width: 50%;
    padding: 0 -1px;
    border-radius: 3px;
}

.nut-tra-gop p {
    color: white;
}

.nut-tra-gop span {
    width: 202px;
    height: 17px;
    font-size: 12px;
    color: white;
}

.nut-tra-gop-the {
    background: #337ab7;
    border: solid 1px #337ab7;
    width: 206px;
    height: 60px;
    margin-bottom: 12px;
    float: left;
    padding: 0 -1px;
    border-radius: 3px;
}

.nut-tra-gop-the p {
    color: white;
}

.nut-tra-gop-the span {
    width: 202px;
    height: 17px;
    font-size: 12px;
    color: white;
}

.sdt-tu-van {
    font-size: 15px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 25px;
    display: -webkit-inline-flex;
    width: 422px;
    height: 21px;
    padding-left: 30px;
}

.khung-cam-ket {
    width: 242px;
    padding: 15px;
}

.khung-cam-ket {
    display: table-cell;
    vertical-align: top;
    width: 250px;
    height: 716px;
}

.dieu-cam-ket {
    margin-bottom: 30px;
    width: 220px;
    height: 132px;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

.dieu-cam-ket li {
    font-size: 13px;
    color: #545454;
    margin-bottom: 8px;
    padding-left: 28px;
    position: relative;

}

.dieu-cam-ket li p {
    word-wrap: break-word;
    word-break: keep-all;
}

.dieu-cam-ket li span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 16px;
}

.ck1 {
    background-position: -5px -51px;
}

.ic {
    display: inline-block;
    background-image: url("../img/seal-icon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ck2 {
    background-position: -27px -51px;
}

.ic2 {
    display: inline-block;
    background-image: url("../img/shield-icon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ck3 {
    background-position: -53px -51px;
}

.ic3 {
    display: inline-block;
    background-image: url("../img/delivery-icon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ck4 {
    background-position: -78px -51px;
}

.ic4 {
    display: inline-block;
    background-image: url("../img/gps.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h4 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-align: center;

}

.tieu-de-cam-ket {
    font-weight: bold;
    height: 20px;
    width: 150px;
    margin-bottom: 15px;
    margin-left: 0;
}

.shop-gan {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
    width: 220px;
    height: 20px;
    text-align: center;
}

.danh-sach-thanh-pho {
    list-style: none;
    border-top-width: 1px;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    text-align: left;
    width: 196px;
    color: black;
}

.comb {
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    width: 195px;
    border-radius: 4px;
}

.cot-thong-so-ky-thuat {
    width: 320px;
    height: 504px;

    vertical-align: top;
    float: right;
    width: 25%;
}

.khung-4-chuc-nang {
    float: left;
    width: 72.5%;
    width: 870px;
    height: 1700px;
}

.khung-danh-gia-nhan-xet {
    background: #fff;
    margin-bottom: 20px;
    background-color: blue;
    width: 870px;
    height: 430px;
    display: block;
}

. dong-4-chuc-nang {
    width: 870px;
    height: 48px;
    border-color: #9ea09d;
    border-style: solid;
    border-bottom-width: 1px;
}

.dong-4-chuc-nang li {
    display: inline-block;
    margin-right: 35px;
}

.dong-4-chuc-nang li a {
    border-bottom: 3px solid #ff001f;
}

.dong-4-chuc-nang li a {
    height: 47px;
    padding: 13px 0;
    display: block;
    font-size: 18px;
    line-height: 1.22;
    color: #3d3d3d;
    border-bottom: 3px solid transparent;
    margin-left: 18px;
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #000;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

.noi-dung-dac-diem-noi-bat {
    width: 870px;
    height: auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    border-top-width: 1px ;
    border-top-style: solid;
    border-top-color: #9ea09d;
}

.dong-danh-gia {
    font-family: Arial;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: #3d3d3d;
}

.thongtinchitiet {
    width: 840px;
}

.hien-thi-thong-tin {
    height: auto !important;
    padding-bottom: 80px;
}

.noi-dung-dac-diem-noi-bat {
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.dong-danh-gia-ten-san-pham, .dong-thong-so-ky-thuat, .khung-hinh-anh-thuc-te {
    padding: 13px 15px;
    border-bottom: 1px solid #e3e3e3;
}
.dong-thong-so-ky-thuat{
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: #9ea09d;
}
.thong-so-chi-tiet-san-pham {
    padding: 10px;
    margin-bottom: 20px;
}

.thong-so-chi-tiet-san-pham {
    width: 290px;
    height: 460px;
    display: table-cell;
    vertical-align: top;
    padding-right: 0px;
    padding-left: 0px;

}

.thong-so-chi-tiet-san-pham ul li {

    display: inline;

}

.thong-so-chi-tiet-san-pham ul li label {
    width: 120px;
    height: 18px;
    font-weight: bold;
    display: table-cell
}

.thong-so-chi-tiet-san-pham ul li {
    display: table;
    width: 100%;
    padding: 5px 0;
}

.thong-so-chi-tiet-san-pham ul li p {
    word-wrap: break-word;
    word-break: keep-all;
}

.khung-3-o-danh-gia {
    display: table;
    width: 100%;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.o-1 {
    width: 193px;
    text-align: center;
    font-size: 12px;
    color: #4a4a4a;
    padding: 10px;
    border-right: 1px solid #d8d8d8;
}

.dinh-dang-o {
    display: table-cell;
    vertical-align: middle;
}

.o-2 {
    padding: 15px;
    width: 260px;
    border-right: 1px solid #d8d8d8;
}

.o-3 {
    padding: 15px;
    text-align: center;
}

.khung-icon-sao {
    width: 172px;
    height: 29px;
}

.dinh-dang-thong-tin-o-2 > li {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    color: #9a9a9a
}

.dinh-dang-thong-tin-o-2 > li:last-child {
    margin-bottom: 0
}

.dinh-dang-thong-tin-o-2 > li > span {
    display: inline-block;
    position: relative
}

.thanh-ty-le-phan-tram {
    width: 52%;
    background: #e4e4e4;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-right: 20px
}

.fs-dtrtstar li:nth-child(1) .thanh-ty-le-phan-tram > span {
    background: #2a7709
}

.fs-dtrtstar li:nth-child(2) .thanh-ty-le-phan-tram > span {
    background: #f6a623
}

.fs-dtrtstar li:nth-child(3) .thanh-ty-le-phan-tram > span {
    background: red
}

.fs-dtrtstar > li > span {
    display: inline-block;
    position: relative;
}

.thanh-ty-le-phan-tram > span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #e4e4e4;
}

.gui-danh-gia-cua-ban span {
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    padding: 9px 35px;
    color: #fff;
    background: #d0021b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fs-dtrt-c3 h4 {
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.comment {
    width: 870px;
    height: 200px;
    background-color: yellow;
    display: block;

}

.hoi-dap-ve-y9 {
    font-size: 18px;
    line-height: 1.22;
    color: #3d3d3d;
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cach-le-cmt {
    padding: 15px;
}

.vien-o-cmt {
    border-bottom: 1px solid #e3e3e3;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.o-binh-luan {
    resize: vertical;
}

.o-binh-luan {
    width: 840px;
    height: 54px;
    font-size: 13px;
    padding: 9px;
    width: 100%;
    height: 54px;
    overflow: auto;
    line-height: 1.57;
    border: solid 1px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
}

textarea {
    font: 99% sans-serif;
}

.dinh-dang-o-cmt {
    font-size: 12px;
    text-align: left;
    color: #d0011b;
    display: none;
}

.uploads {
    text-align: center;
    background-color: #f9f9f9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.dinh-dang-nut-gui {
    float: right;
    padding: 10px 0;
}

.dinh-dang-nut-gui li button {
    font-size: 14px;
}

.dinh-dang-nut-gui li button {
    display: inline-block;
    padding: 10px 25px;
    border: none;
}

.nut-gui {
    color: #fff;
    background-color: #d0021b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

button, input[type=button] {
    width: auto;
    overflow: visible;
}

button, input, select, textarea {
    margin: 0;
}

.khung-cmt {
    margin-bottom: 30px;
    padding: 15px;
    background: #f8f8f8;
    border: solid 1px #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07);
    height: 180px;
    background-color: red;
}

.ban-cham-san-pham-nay-bao-nhieu-sao {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.khung-sao khung-dinh-dang-sao, .khung-sao {
    display: inline-block;
    vertical-align: middle;
}

.rating .star {
    display: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

label {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

label {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
}

.chon-danh-gia-ve-san-pham {
    display: none;
}

.chon-danh-gia-ve-san-pham {
    font-size: 12px;
    text-align: left;
    color: #d0011b;
}

.o-cmt {
    resize: vertical;
}

.o-cmt {
    font-size: 13px;
    padding: 9px;
    width: 100%;
    height: 54px;
    overflow: auto;
    line-height: 1.57;
    border: solid 1px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .22);
}

button, input, select, textarea {
    margin: 0;
}

select, input, textarea {
    font: 99% sans-serif;
}

.danh-gia-100-ky-tu {
    padding: 10px 0 5px;
}

.danh-gia-100-ky-tu p {
    float: left;
    font-size: 13px;
    color: #4a4a4a;
}

.danh-gia-100-ky-tu ul {
    float: right;
}

.danh-gia-100-ky-tu ul li {
    display: inline-block;

}

.danh-gia-100-ky-tu ul li button {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 35px;
    border: none;
}

.khung-hinh-anh-thuc-te {
    width: 870px;
    height: 175px;
    background-color: #d58512;
    display: block;

}

.chia-cot {
    width: 1200px;
    height: 4100px;
    margin-bottom: 20px;
}


/*******************************Slide show phia duoi******************************************/

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    width: 840px;
    height: 560px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*******************************/
.slide3 {
    width: 140px;
    height: 80px;
    padding: 15px 15px 1px 15px;
    display: inline;
}